@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }
  body {
    box-sizing: border-box;
  }
  main{
    padding: 2rem;
    background-color: #EADBC8;
    float: left;
    width: 100%;
  }
 nav ul {
    float: right;
}
header h1 {
    float: left;
    color: white;
    padding: 13px;
}
ul {
    list-style: none;
}
nav ul li {
    display: inline;
    padding-right: 5px;
    border-right: 2px solid white;
}
nav ul li:last-child{
    border-right: none;
}
nav {
    float: right;
    width: auto;
    padding: 22px;
}
header figure {
    float: left;
    width: auto;
}
header img {
    float: left;
    width: 100%;
    max-width: 4rem;
}
img {
    max-width: 100%;
}
header{
    float: left;
    width: 100%;
    background-color: #543310;
    padding: 10px;
}
header a{
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
    font-style: normal;
}
section h2 {
    font-size: 2em;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
}
p{
    max-width: 80ch;
    font-size: 16px;
}
section{
    margin-bottom: 3rem;
}
main section h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}
button {
    padding: 10px 20px;
    background-color: #543310;
    color: white;
    border-color: #543310;
}
@media only screen and (max-width:600px){
nav {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
nav ul {
    float: left;
    width: 100%;
    text-align: center;
}
main{
    padding: 1rem;
}
section h2 {
    font-size: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}
p {
    max-width: 100%;
    font-size: 14px;
}
section {
    margin-bottom: 1rem;
}
}